*{
    margin: 0;
    padding: 0;
    outline:none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  
  nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 80px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  }
  .users{
    background-color:purple;
    border-radius: 15px;
    float: right;
    margin-right: 30px;
    margin-top: 17px;
    font-size: 20px;
    }

  .logo{
    width:60x;
    height:60px;
    position: absolute;
    background-color: transparent;
    display:inline-block;
    transition: all 0.5s ease;
    margin: 10px 0 0 -10px;
    padding-left: -40px;
  }
  .logo img{
    left: 0px;
    width:100%;
    height:100%;
    border-radius: 50%;
    
  }
  .logo span{
    font-weight: bold;
    padding-left:10px;
    font-size: 18px;
    text-transform: uppercase;    
  }
  a{
    position:relative;
    color:rgb(85,83, 83);
    font-size: 14px;
    display: table;
    width:170px;
    padding: 10px;
  }
  .fas{
    position: relative;
    width: 70px;
    height: 20px;
    top: 30px;
    font-size: 20px;
    text-align: center;
  }
  .nav-item{
    position: relative;
    top: 30px;
    margin-left: 10px;
    
    
  }
  .one{
    margin-left: 20px;
    white-space: nowrap;
    

  }
  a.hover{
    background-color:gray;
  }
  nav:hover{
    background-color: skyblue;
    width: 170px;
    transition: all 0.5s ease;
  }
  .logout{
    position: absolute;
    bottom: 50px;
  }
  .sideCos{
    background-color: transparent;
    margin-top: 100%;
  }
  .sideCos li{
    padding-bottom:30px;
  }
    /* Active/current link */
    .sidebar a.active {
      background-color: black;
      color: white;
      margin-top: 20px;
    }  
    /* Links on mouse-over */
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: white;
      border-radius: 25px;
      height: 20px;
    }  
    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
    
    /* On screens that are less than 700px wide, make the sidebar into a topbar */
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }  
    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    } */
  
    /*Top nbav*/
   
    
    /* body{
      background: red;
      margin-right:0px ;
      height: 80px;
      
    } */
    .char{
      text-align: center;
      padding-top: 20px;
      color: white;
      background-color:red;
            
    }
    .searchbar{
    text-align: center;
    }
  
  
    
    /*Iox form*/
    .composeForm{
      align-content: center;
      width: 50%;
      height: 520px;
      background-color:#9FE2BF;
      margin-left: 30%;
      margin-top: 50px;
      padding-top: 20px;
      border-radius: 25px;
    }
    .form2{
      margin-top: 30px;
      margin-left: 30px;
      
      }
    .form2 input{
        margin-bottom: 30px;
        width: 300px;
        height: 40px;
        margin-left: 30px;
        padding-left: 5px;
        font-size: 15px;
        border-radius: 15px;
      } 
      .composeForm .messageText{
        background-color:yellow;
        height: 200px;
      }
      .form2 button{
        border-radius: 25px;
        float: right;
        margin-right: 20px;
        background-color: #478778;
      }
      .form2 button a{
        color:white ;
      }
  
